<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>-->
<head>
    <meta charset="UTF-8">
    <title>Welcome to not-tunes</title>
</head>
<body>
<div>
    <h1>Not-Tunes</h1>
    <div>
        <form name="searchForm" id="searchForm" th:action="@{/results}">
            <label for="searchInput">Search track by name:</label>
            <input type="text" id="searchInput" th:name="query" required/>
            <button type="submit">Search</button>
        </form>
    </div>
    <div>
        <h2>5 Random Artists</h2>
        <ul th:each="artist: ${artists}">
            <li th:text="${artist.getName()}"></li>
        </ul>
    </div>

    <div>
        <h2>5 Random Songs</h2>
        <ul th:each="track: ${tracks}">
            <li th:text="${track.getName()}"></li>
        </ul>
    </div>

    <div>
        <h2>5 Random Genres</h2>
        <ul th:each="genre: ${genres}">
            <li th:text="${genre.getName()}"></li>
        </ul>
    </div>
</div>

</body>
</html>