<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>-->
<head>
    <meta charset="UTF-8">
    <title>Welcome to not-tunes</title>
</head>
<body>

<!--a) The home page view, showing the 5 random artists, 5 random songs, and 5 random genres. This home page
contains a search bar which is used to search for tracks. The search bar should not be empty, meaning you can’t
have an empty search criterion.-->

<h1>Not-Tunes</h1>
<div>
    <form>
        <input type="text" placeholder="Search track">
        <button type="submit">Search</button>
    </form>
</div>
<div>
    <h2>5 Random Artists</h2>
</div>

<div>
    <h2>5 Random Songs</h2>
</div>

<div>
    <h2>5 Random Genres</h2>
</div>


</body>
</html>